<html>
<head>
#requireResource("com.edwardawebb.confluence-scribbles:scribbles-edit")


#set( $imageUrl = $req.contextPath + $action.attachmentDownloadUrl )

    <title>Start Scribbling!</title>
    <meta name="decorator" content="atl.general" />
    

    
    
</head>
<body>
	<div id="scribble-container">
	
		
			
		<div id="canvasDiv" style="min-height:400px"></div>
		<script type="text/javascript">
			
			if($action.existing){			
			 	drawingApp.init(0,0,"$imageUrl");
			}else{
			 	drawingApp.init();
			}
			 function saveData(form){
			 	//get canvas element
			 	var canvas = document.getElementById("drawing");
			 	var imgBinary = canvas.toDataURL('image/png');
			 	
			 	form.imageBinary.value = imgBinary;
			 	return true;
			 }
		</script>
		<br class="clear"/>
		<form method="POST" action="$req.contextPath/plugins/scribbles/scribblesave.action">
			#if($action.existing)
				<input name="attachmentName" value="$action.attachmentName"/>
			#else
				<input name="attachmentName" />
			#end
			<input type="hidden" name="previousAttachmentName" value="$action.attachmentName"/>
			<input type="hidden" name="pageId" value="$action.page.id"/>
			<input type="hidden" name="imageBinary" />
			<input type="hidden" name="existing" value="$action.existing" />
			<input type="submit" value="Save to Current Page" onClick="saveData(this.form)"/>	
		</form>
	</div>
</body>
</html>